footer {
  max-width: 26.5625rem;
  width: 100%;
  height: 25.9375rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2.5rem;

  background: url(assets/images/footer-background.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;

  & .social-media {
    width: 19.4375rem;
    height: 6.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.75rem;


    & img[src*="logo-horizontal"] {
      width: 159px;
      height: 40px;
    }

    & .separator {
      width: 100%;
      border: 1px solid var(--shape-stroke);
    }

    & div:nth-child(3) {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      & figure:nth-child(1) {
        & img:hover {
          background: none;
        }
      }

    }
  }

  & .menu-itens {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

    & .content {
      & span {
        font: var(--title-xs);
      }

      & ul {
        margin-top: 1.25rem;
        color: var(--blue-light);
        font: var(--link);
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 12px;

        & li:hover {
          transition: color 300ms ease-in-out;
          color: var(--text-body);
        }
      }
    }

    & .help {
      & span {
        font: var(--title-xs);
      }

      & ul {
        margin-top: 1.25rem;
        color: var(--blue-light);
        font: var(--link);
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 12px;

        & li:hover {
          transition: color 300ms ease-in-out;
          color: var(--text-body);
        }
      }
    }

  }
}

@media (width >=45.5rem) {

  footer {
    max-width: 120rem;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;

    background: url(assets/images/book-trace-background.png);
    background-size: cover;


    & .social-media {
      flex-direction: column;

      & img[src*="logo-horizontal"] {
        width: 264px;
        height: 67px;
      }

      & div:nth-child(3) {
        & img {
          cursor: pointer;
        }

        & figure {
          & span[data-icon=discord] {
            background: url(../assets/icons/discord.svg);
            background-repeat: no-repeat;
            background-position: center center;
            width: 24px;
            height: 24px;
          }

          & span[data-icon=instagram] {
            background: url(../assets/icons/instagram.svg);
            background-repeat: no-repeat;
            background-position: center center;
            width: 24px;
            height: 24px;
          }

          & span[data-icon=twitter] {
            background: url(../assets/icons/twitter.svg);
            background-repeat: no-repeat;
            background-position: center center;
            width: 24px;
            height: 24px;
          }

          & span[data-icon=facebook] {
            background: url(../assets/icons/facebook.svg);
            background-repeat: no-repeat;
            background-position: center center;
            width: 24px;
            height: 24px;
          }

          & span[data-icon=whatssap] {
            background: url(../assets/icons/whatsapp.svg);
            background-repeat: no-repeat;
            background-position: center center;
            width: 24px;
            height: 24px;
          }

          & span[data-icon=mail] {
            background: url(../assets/icons/mail.svg);
            background-repeat: no-repeat;
            background-position: center center;
            width: 24px;
            height: 24px;
          }

          &:hover {
            & span[data-icon=instagram] {
              background: url(../assets/icons/instagram-hover.svg);
              background-repeat: no-repeat;
              background-position: center center;
              width: 24px;
              height: 24px;
            }
          }

          &:hover {
            & span[data-icon=twitter] {
              background: url(../assets/icons/twitter-hover.svg);
              background-repeat: no-repeat;
              background-position: center center;
              width: 24px;
              height: 24px;
            }
          }


          &:hover {
            & span[data-icon=discord] {
              background: url(../assets/icons/discord-hover.svg);
              background-repeat: no-repeat;
              background-position: center center;
              width: 24px;
              height: 24px;
            }
          }

          &:hover {
            & span[data-icon=whatssap] {
              background: url(../assets/icons/whatsapp-hover.svg);
              background-repeat: no-repeat;
              background-position: center center;
              width: 24px;
              height: 24px;
            }
          }

          &:hover {
            & span[data-icon=mail] {
              background: url(../assets/icons/mail-hover.svg);
              background-repeat: no-repeat;
              background-position: center center;
              width: 24px;
              height: 24px;
            }
          }

          &:hover {
            & span[data-icon=facebook] {
              background: url(../assets/icons/facebook-hover.svg);
              background-repeat: no-repeat;
              background-position: center center;
              width: 24px;
              height: 24px;
            }
          }
        }
      }
    }

    & .menu-itens {
      width: 312px;
      height: 143px;
      justify-content: space-between;

      & .content {
        & ul {
          & li {
            cursor: pointer;
          }
        }
      }

      & .help {
        & ul {
          & li {
            cursor: pointer;
          }
        }
      }

    }
  }
}