:root {

  /* Variables Colors */
  --pink-light: #C59DD2;
  --pink-base: #9547A5;
  --pink-dark: #7D298A;
  --pink-low: #3F0F41;

  --blue-light: #73B6D2;
  --blue-base: #358BB9;
  --blue-mid: #2374A4;
  --blue-dark: #144A72;
  --blue-low: #08233C;

  --shape-stroke: #002347;
  --shape-hover: #001933;
  --shape-base: #000F1F;
  --shape-background: #00050A;

  --text-title: #F8FBFB;
  --text-body: #E2E7E9;
  --text-label: #BAC6C9;
  /* End Colors */

  /* Fonts */
  --ff-base: 'Raleway', sans-serif;
  /* End Fonts */

  /* Font presets */

  /* Titles */
  --title-lg: 800 3rem var(--ff-base);
  --title-md: 800 2.5rem var(--ff-base);
  --title-sm: 800 2rem var(--ff-base);
  --title-xs: 600 1rem var(--ff-base);
  --subtitle: 600 2rem/200% var(--ff-base);
  /* Titles */

  /* Text */
  --body-lg: 500 1.25rem/1.4 var(--ff-base);
  --body-md: 400 1rem/1.4 var(--ff-base);
  --body-sm: 500 0.875rem/1.4 var(--ff-base);
  --body-xs: 00 0.6875rem/1.4 var(--ff-base);
  /* Text */

  /* Others */
  --tag: 800 0.75rem var(--ff-base);
  --button: 900 0.75rem var(--ff-base);
  --link: 400 0.75rem var(--ff-base);
  /* Others */

  /* End Font presets */
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: var(--body-md);
  color: var(--text-body);
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: var(--shape-background);

  &::-webkit-scrollbar {
    width: 0.5rem;
  }

  &::-webkit-scrollbar-track {
    background: #111416;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: #08233C;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;

  }

  &::-webkit-scrollbar-thumb:hover {
    background: #144A72;
  }
}

button,
a {
  all: unset;
  text-decoration: none;
}

ul {
  all: unset;
  list-style: none;
}

figure[data-default] {
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;

  img {
    width: 1.5rem;
    height: 1.5rem;
  }

  &:hover {
    background-color: var(--shape-stroke);
    border-radius: 999px;
  }
}

.desktop-only {
  display: none;
}