#hero {
  max-width: 23.4375rem;
  width: 100%;
  margin: 0 auto;
  height: 46.6875rem;
  position: relative;

  & .hero-background {
    width: 100%;
    height: 29rem;
    position: absolute;
    z-index: -1;
    background: url('/assets/images/hero-background.png');
    background-position: center center;
    background-size: cover;
  }

  .hero-container {
    width: 100%;
    padding: 20px 20px;
  
    & header {

      & img {
        width: 4rem;
        height: 3rem;
      }
  
      & a {
        width: 5.5625rem;
        height: 2.5rem;
      }
    }
  
    & article:nth-child(2){
      margin-top: 3rem;
  
      & h1 {
        color: var(--text-title);
        font: var(--title-sm);
        text-align: center;
      }
  
      & p {
        font: var(--body-sm);
        color: var(--text-body);
        text-align: center;
      }
    }

    & article:nth-child(3){
      width: 100%;
      height: 15.6875rem;
      margin-top: 225px;
      position: relative;

      & p {
        font: var(--body-md);
        color: var(--text-body);
        text-align: center;

        &::after{
          content: "";
          width: 2.5rem;
          height: 2.5rem;
          top: 1.75rem;
          right: 4.6875rem;
          position: absolute;
          background: url(/assets/images/mystery-opened-spellbook.png) no-repeat;
          background-size: contain;
          background-position: center;
        }

        &::before{
          content: "";
          width: 2.5rem;
          height: 2.5rem;
          right: 1.25rem;
          bottom: 2rem;
          position: absolute;
          background: url(/assets/images/mystery-crystal-ball.png) no-repeat;
          background-size: contain;
          background-position: center;
          transform: rotate(15deg);
        }
      }

      & div{
        width: 2rem;
        height: 2rem;
        bottom: 3.125rem;
        left: 0.875rem;
        position: absolute;
        background: url(/assets/images/mystery-ouija-planchette.png) no-repeat;
        background-size: contain;
        background-position: center;
        transform: rotate(-30deg);
      }
    }
  }
}



@media ( width >= 80rem){
  #hero {
    max-width: 120rem;
    width: 100%;

    & .hero-background {
      width: 100%;
      height: 100vh;
    }

    & .hero-container {
      padding: 3.5rem 10rem;
      width: 100%;

      & header {

        & .desktop-only {
          display: initial;
        }

        & img[src*="logo-symbol"]{
          display: none;
        }
        
        & img {
          width: 14.375rem;
          height: 3.625rem;
        }

      }

      & article:nth-child(2){
        margin-top: 10.25rem;
    
        & h1 {
          font: var(--title-lg);
          width: 41rem;
        }
    
        & p {
          margin-top: 2rem;
          font: var(--body-lg);
          width: 35.5rem;
        }
      }

      & article:nth-child(3){
        margin-top: 556px;
        height: 25rem;
  
        & p {
          font: var(--subtitle);
          text-align: center;
          
          & .desktop-only {
            display: initial;
          }

          & span {
            animation: appear 100ms forwards;
            animation-timeline: view();
            /* animation-range: 00px 300px; */

            &[data-delay]:nth-child(){
              animation-delay: 20ms;
            };

            &[data-delay]:nth-child(2){
              animation-delay: 40ms;
            };

            &[data-delay]:nth-child(3){
              animation-delay: 60ms;
            }
          }

          &::after{
            content: "";
            width: 5.5rem;
            height: 5.5rem;
            top: 0.8375rem;
            right: 35.125rem;
            transform: rotate(20deg);
          }
  
          &::before{
            content: "";
            width: 4.5rem;
            height: 4.5rem;
            right: 0.1125rem;
            bottom: 4.75rem;
            transform: rotate(15deg);
          }
        }

        & div{
          width: 5rem;
          height: 5rem;
          bottom: 4.5rem;
          left: 2.125rem;
          transform: rotate(99deg);
        }

      }
    }
  }
}
