#kit {
  max-width: 26.25rem;
  width: 100%;
  height: 39.4375rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;

  & article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    &>div {
      width: 19.4375rem;
      display: flex;
      align-items: center;
      gap: 0.75rem;
    }

    & img {
      width: 1.25rem;
      height: 1.25rem;
    }

    & p {
      font: var(--body-sm);
      font-weight: 300;
      text-align: center;
    }
  }

  &>div {
    width: 100%;
    position: relative;

    & figure {
      width: 100%;
      height: 19.9375rem;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      & p {
        font-size: var(--ff-base);
        font-size: 0.75rem;
        font-weight: 300;
      }

      & #book {
        width: 9.8125rem;
        height: 12.9375rem;
        position: absolute;
        object-fit: cover;
        z-index: 1;
      }

      & .purple-marked {
        width: 3.625rem;
        height: 11.25rem;
        position: absolute;
        right: 2.6875rem;
        bottom: 3.875rem;
        z-index: -2;
        transform: rotate(22deg);

      }

      & .yellow-marked {
        width: 3.625rem;
        height: 11.25rem;
        position: absolute;
        z-index: -1;
        right: 4.5625rem;
        bottom: 6.5rem;
        transform: rotate(11deg);
      }

      & .pin {
        width: 4.6875rem;
        height: 5.3125rem;
        position: absolute;
        left: 4.25rem;
        bottom: 1.625rem;
        z-index: -3;
        transform: rotate(-8deg);
      }

      & .pin-line {
        position: absolute;
        width: 2.1875rem;
        height: 2.6875rem;
        left: 3.3125rem;
        bottom: 5.9375rem;
      }

      & .pin-text {
        position: absolute;
        left: 1.5625rem;
        bottom: 9.25rem;
      }

      & .book-line {
        position: absolute;
        top: 3rem;
        left: 4.25rem;
      }

      & .book-text {
        position: absolute;
        top: 1.625rem;
        left: 1.25rem;
      }

      & .mark-line {
        position: absolute;
        width: 3.0625rem;
        height: 3.1875rem;
        right: 3.75rem;
        bottom: 1.5625rem;
      }

      & .mark-text {
        position: absolute;
        right: 2.5rem;
        bottom: 0.4375rem;
      }
    }
  }

}

@media (width >=45.5rem) {
  #kit {
    max-width: 120rem;
    height: 99.125rem;

    & article {
      &>div {
        width: auto;

        & h2 {
          font: var(--title-sm);
        }
      }

      & img {
        width: 2rem;
        height: 2rem;
      }

      & p {
        font: var(--body-md);
      }
    }

    &>div {
      width: 100%;
      position: relative;

      & figure {
        width: 100%;
        height: 57.5rem;

        &:hover {
          .purple-marked {
            top: 210px;
            left: 995px;
            transition: ease-in-out 600ms;
            transform: rotate(23deg);
          }

          .yellow-marked {
            top: 95px;
            left: 895px;
            transition: ease-in-out 600ms;
            transform: rotate(10deg);
          }

          .pin {
            top: 600px;
            left: 340px;
            transition: ease-in-out 600ms;
            transform: rotate(-6deg);
          }

          .pin-line {
            top: 590px;
            left: 350px;
            transition: ease-in-out 600ms;
          }

          .pin-text {
            top: 580px;
            left: 340px;
            transition: ease-in-out 600ms;
          }

          .book-line {
            top: 145px;
            left: 440px;
            transition: ease-in-out 600ms;
          }

          .book-text {
            top: 95px;
            left: 370px;
            transition: ease-in-out 600ms;
          }

          .mark-line {
            top: 790px;
            left: 1040px;
            transition: ease-in-out 600ms;
          }

          .mark-text {
            top: 890px;
            left: 1055px;
            transition: ease-in-out 600ms;
          }
        }

        & p {
          font-weight: 500;
        }

        & #book {
          width: 29.1875rem;
          height: 38.5625rem;
        }

        & .purple-marked {
          width: 11.25rem;
          height: 33.5rem;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        & .yellow-marked {
          width: 11.25rem;
          height: 33.5rem;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        & .pin {
          width: 13.875rem;
          height: 15.875rem;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        & .pin-line {
          position: absolute;
          width: 6.5625rem;
          height: 7.9375rem;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        & .pin-text {
          position: absolute;
          font: var(--body-md);
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        & .book-line {
          width: 10.9375rem;
          height: 1.875rem;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        & .book-text {
          position: absolute;
          font: var(--body-md);
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        & .mark-line {
          position: absolute;
          width: 9.0625rem;
          height: 9.5rem;
          top: 50%;
          left: 55%;
          transform: translate(-50%, -50%);
        }

        & .mark-text {
          font: var(--body-md);
          top: 50%;
          left: 60%;
          transform: translate(-50%, -50%);
        }
      }
    }

  }
}

@media (width >=120rem) {
  #kit {
    &>div {
      & figure {
        &:hover {
          .purple-marked {
            top: 210px;
            left: 1235px;
          }

          .yellow-marked {
            left: 1135px;
          }

          .pin {
            left: 580px;
          }

          .pin-line {
            left: 595px;
          }

          .pin-text {
            left: 590px;
          }

          .book-line {
            left: 685px;
          }

          .book-text {
            left: 605px;
          }

          .mark-line {
            left: 1270px;
          }

          .mark-text {
            left: 1375px;
          }
        }
      }
    }
  }
}