.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-beetween {
  justify-content: space-between;
}

.gap-8 {
  gap: 0.5rem;
}

.gap-16 {
  gap: 1rem;
}

.gap-12 {
  gap: 0.75rem
}

.btn {
  width: 100%;
  height: 2.5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 0.5rem;
  color: var(--text-title);
  font-weight: bold;
  cursor: pointer;
  font: var(--button);
  transition: background-color 200ms ease-in-out;
}

.btn-primary {
  background-color: var(--blue-dark);
  
  &:hover {
    background-color: var(--blue-base);
  }
}

.btn-secondary {
  background-color: var(--pink-dark);

  &:hover {
    background-color: var(--pink-base);
  }
}

.link {
  font: var(--link);
  color: var(--blue-light);
  cursor: pointer;
  transition: color 200ms ease-in-out;

  &:hover {
    color: var(--text-body);
  }
}

.card-method-primary {
  color: var(--blue-light);
  font: var(--title-xs);
}

.card-method-secondary {
  color: var(--pink-light);
  font: var(--title-xs)
}

.position-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}